<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RequestDispacher</display-name>
  <welcome-file-list>
    <welcome-file>Welcome.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BankServlet</display-name>
    <servlet-name>BankServlet</servlet-name>
    <servlet-class>com.training.BankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankServlet</servlet-name>
    <url-pattern>/Bank</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Saving</display-name>
    <servlet-name>Saving</servlet-name>
    <servlet-class>com.training.Saving</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Saving</servlet-name>
    <url-pattern>/Saving</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Current</display-name>
    <servlet-name>Current</servlet-name>
    <servlet-class>com.training.Current</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Current</servlet-name>
    <url-pattern>/Current</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Banking</display-name>
    <servlet-name>Banking</servlet-name>
    <servlet-class>com.training.Banking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Banking</servlet-name>
    <url-pattern>/Banking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demat</display-name>
    <servlet-name>Demat</servlet-name>
    <servlet-class>com.training.Demat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demat</servlet-name>
    <url-pattern>/Demat</url-pattern>
  </servlet-mapping>
</web-app>